.DesktopNavbar{
    box-shadow: 0px 5px 10px -5px rgba(136,136,136,1);
    -webkit-box-shadow: 0px 5px 10px -5px rgba(136,136,136,1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(136,136,136,1);
    position:fixed;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    line-height:110%
}

.a{
    padding: 40px;
}

