.Main{
    background-image:url('../../assets/img/bg-main.svg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    line-height:110%;
    font-size:1em;
    font-weight: 300;


}