.Buttons-container{
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,1);
    margin-top:-100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 50px;
    font-weight: 600;
    font-size:1em;
    font-family: 'Poppins', sans-serif;
    line-height:110%
}

