.Proyectos{
    background-image:url('../../assets/img/bg-proyectos.svg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    line-height:110%;
    font-size:1em;
    font-weight: 300;
}

.proyImg:hover {
    transform:scale(1.1);

}

.proyImg{
    transition:all 1s;
}

